@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";

:root {
  --color-primary: #361736;
  --color-background: #fbe5ff;
  --color-foreground: #e96bff;
  --color-accent: #c700eb;
}

.dark {
  --color-primary: #eeefe9;
  --color-background: #361736;
}

@theme {
  --font-dmSans: "DM Sans", sans-serif;
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-accent: var(--color-accent);
}

body {
  @apply font-dmSans bg-background transition-all;
}

.shadow {
  @apply rounded-sm outline-2 outline-black shadow-[4px_4px_#000];
}
